
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div>

        <p>
            @Html.DropDownList("schoolsList", ViewData["list"] as SelectList)
        </p>
        <input type="submit" value="See School FAQ's Page" />
    </div>
</body>
</html>
