@{
    ViewBag.Title = "About Us";
}
<h2>@ViewBag.Title</h2>
<h3>Our History</h3>

<p class="text-muted">
    Learning Dynamics had it’s beginning in 1984 in the home of John and Cheryl Lant. Within a year the Lants’ expanded to a larger facility and since then new buildings and new schools have been added. Now there are four beautiful schools, each providing lucky children with the same rich, warm, personal learning experience that has become the hallmark of Learning Dynamics.

    Through the years, Cheryl and her teachers have worked hard to create a comprehensive curriculum that not only teaches the basics of early childhood learning, but also helps the children explore their environment, be creative, grow socially, gain confidence and have lots of fun doing it. During that time we developed and published a phonics based, beginning reading program that became nationally recognized. This program is used in our schools as part of our curriculum to teach the children to read.

    We love children and see the great potential they have if given a strong foundation early in their lives. This foundation is of course built in families. But families need all the positive help they can find. All the people you meet at Learning Dynamics take great personal satisfaction in supporting families to meet their goals for their children. Our relationship with you is important because we are all working together to build strong, prepared, confident children who can meet the challenges of life with experience, skills, knowledge, and eagerness.

    Today, Learning Dynamics serves over 1200 children each year. That means that over the last 26 years, thousands of children have had a great start in our preschool. And they continue to do well when they move on to public school. The Learning Dynamics experience is really something special because while there are many who are participating, each child remains unique and important to us. We pay attention to their needs and their progress. We look at them individually and take the time to make a difference in each little life.

    We invite you to become part of the Learning Dynamics Family!
</p>

<h3>Our Teaching Philosophy</h3>

<p class="text-muted">
    Our goal at Learning Dynamics is to help children develop a broad foundation in the learning experience. We help them build self-confidence and develop a love and excitement for learning. We do this by using positive reinforcement, motivation, and individualized teaching. Our programs are designed to help children grow academically and socially.

    Preschool children need to develop a balance of academic and social skills to prepare them for life’s experiences. They are eager to learn new ideas, but they also need time for play. At Learning Dynamics, we do both. Our daily programs are full of fun, learning, laughter, discovery, nurturing, and progress. Our program includes reading, writing, math, art, music, and daily lessons about the world around us.

    We teach using positive reinforcement because how children learn is as important as what they learn. Positive reinforcement develops a child’s love of learning and builds self-esteem. Children at Learning Dynamics Preschool are noticed and praised for all their efforts and accomplishments.
</p>

<h3>Our Teachers</h3>
<div class="row">
    <div class="col-md-6">
        <p class="text-muted">
            All of our teachers are Learning Dynamics Certified. To acquire this certification, teachers must complete a year of training and meet certain requirements set by Learning Dynamics. Each teacher has her own classroom with 12 children in her class. Teachers evaluate each child three times a year to help them meet the child’s needs.
        </p>
    </div>
    <div class="col-md-6">
        <p class="blockquote">
            “Sending our daughter to Learning Dynamics was one of the best decisions we have ever made. She has made amazing progress throughout the year. She is reading books with ease. She can now sound out almost any word she sees. Her teacher... is so wonderful. She is so patient and kind with the children. And you can tell she loves her job and wants to be there. I could not have asked for a better experience. I would highly recommend Learning Dyamics! Thanks for an AWESOME year.”

        </p>
        <br />
        <p> <footer class="blockquote-footer"><cite title="Source Title">— Coopers</cite></footer></p>
    </div>
</div>
