@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <img src="~/Content/Photos/LearningDynamicsLogo.jpg" alt="logo" />
    <p class="lead">Welcome to Learning Dynamics Preschool! Click here to learn more about how your child can learn to read at Learning Dynamics.</p>
    <p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="jumbotron">
    <embed src="https://youtu.be/V7AsfpD-RQM" allowfullscreen="true"/>
</div>

<div class="row">
    <div class="col-md-3">
        <h2>Rob</h2>
        <ul>
            Portion Completed:
            <li>Dropdown menu</li>
            <li>Links to each actionmethod/view for three schools</li>
        </ul>
        <p><a class="btn btn-default" href="/Schools/Index">Navigate to Dropdown menu &raquo;</a></p>
    </div>
    <div class="col-md-3">
        <h2>Jon</h2>
        <p>Schools Sub Pages</p>
        <p><a class="btn btn-default" href="https://github.com/robcalcote/403Project1">GitHub &raquo;</a></p>
    </div>
    <div class="col-md-3">
        <h2>Nate</h2>
        <p>About Us</p>
        <p><a class="btn btn-default" href="https://github.com/robcalcote/403Project1">GitHub &raquo;</a></p>
    </div>
    <div class="col-md-3">
        <h2>Matt</h2>
        <p>Contact</p>
        <p><a class="btn btn-default" href="https://github.com/robcalcote/403Project1">GitHub &raquo;</a></p>
    </div>
</div>