@{
    ViewBag.Title = "Home Page";
}

<link href="~/Content/Mystyles.css" rel="stylesheet" type="text/css" />

<div class="jumbotron">
    <img src="~/Content/Photos/LearningDynamicsLogo.jpg" alt="logo" /><br />
    <p class="lead">Welcome to Learning Dynamics Preschool! Click here to learn more about how your child can learn to read at Learning Dynamics.</p>
    <p><a href="https://learningdynamicspreschool.com/" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="jumbotron">
    <iframe width="640" height="360" src="https://www.youtube.com/embed/V7AsfpD-RQM" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</div>

<div class="row">
    <div class="col-md-3">
        <h2>Reading</h2>
        <p>Our number one priority is your child reading like a pro. Guaranteed.</p>
        <p><a class="btn btn-default" href="/Schools/Index">Navigate to Dropdown menu &raquo;</a></p>
    </div>
    <div class="col-md-3">
        <h2>Mathematics</h2>
        <p>Addition, subtraction, division, and multiplication</p>
        <p><a class="btn btn-default" href="https://learningdynamicspreschool.com/">Click Here &raquo;</a></p>
    </div>
    <div class="col-md-3">
        <h2>Art</h2>
        <p>Personal Tutors including Michael Angelo, and Bob Ross</p>
        <p><a class="btn btn-default" href="https://learningdynamicspreschool.com/">Click Here &raquo;</a></p>
    </div>
    <div class="col-md-3">
        <h2>Music</h2>
        <p>Have your children playing like Beethoven in no time.</p>
        <p><a class="btn btn-default" href="https://learningdynamicspreschool.com/">Click Here &raquo;</a></p>
    </div>
</div>