@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Project 1</h1>
    <p class="lead">This is the project we will be working on. Please see below for what portions of the project you will be working on.</p>
    <p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-3">
        <h2>Rob</h2>
        <p>School</p>
        <p><a class="btn btn-default" href="https://github.com/robcalcote/403Project1">GitHub &raquo;</a></p>
    </div>
    <div class="col-md-3">
        <h2>Jon</h2>
        <p>Schools Sub Pages</p>
        <p><a class="btn btn-default" href="https://github.com/robcalcote/403Project1">GitHub &raquo;</a></p>
    </div>
    <div class="col-md-3">
        <h2>Nate</h2>
        <p>About Us</p>
        <p><a class="btn btn-default" href="https://github.com/robcalcote/403Project1">GitHub &raquo;</a></p>
    </div>
    <div class="col-md-3">
        <h2>Matt</h2>
        <p>Contact</p>
        <p><a class="btn btn-default" href="https://github.com/robcalcote/403Project1">GitHub &raquo;</a></p>
    </div>
</div>